{% extends 'base.html' %}

{% block content %}

    {% with messages = get_flashed_messages() %}
   
 

    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="{{ url_for('static', filename='login.svg') }} "height="64" width="64" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          
          <form action="" method="post">
            {{ form.hidden_tag() }}
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
          <div class="alert alert-primary" role="alert">
              {{ message }}
            </div>
            {% endfor %}
            </ul>
          </div>
      
        </div>
      </div>
      {% endif %}
      {% endwith %}

<!-- <form action="/login" method="post">
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">

    <div class="col-sm-2 my-1">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>

</form>
 -->











<!-- 
    <form action="" method="post" novalidade>
        {{ form.hidden_tag() }}    
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me()}} {{ form.remember_me.label}} </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for mesg in get_flashed_messages() %}
    <h1>{{ mesg }}</h1> -->
    {% endfor %}
{% endblock %}