{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Update Data</h1>
    <form action="/update/brands/{{ brands.id}}" method="POST">
        <div class="form-row">
            <div class="col-sm-10 my-1">
                Brand Name<input type="text" class="form-control" name="brandname" id="brandname" value="{{ brands.brandname }}">
                Abbreviation<input type="text" class="form-control" name="abbreviation" id="abbreviation" value="{{ brands.abbreviation }}" >
                SS1<input type="text" class="form-control" name="ss1" id="ss1" value="{{ brands.ss1 }}" >
                SS2<input type="text" class="form-control" name="ss2" id="ss2" value="{{ brands.ss2 }}" >
                SS3<input type="text" class="form-control" name="ss3" id="ss3" value="{{ brands.ss3 }}" >
                Comment<input type="text" class="form-control" name="comment" id="comment" value="{{ brands.comment }}" >   
                <input type="hidden" name="updated_by" id="updated_by" value ="{{ current_user.username }}">
             </div>
            <div class="col-sm-2 my-1">
                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}